version: "3.9"

services:
  web:
    build: .
    container_name: django_web
    command: gunicorn Proyecto.wsgi:application -b 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    environment:
      - DB_NAME=mi_db
      - DB_USER=mi_user
      - DB_PASSWORD=mi_password
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: mi_db
      POSTGRES_USER: mi_user
      POSTGRES_PASSWORD: mi_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
  static_volume:
